// Bootstrap less mixins
@import (reference) '../../node_modules/bootstrap-less/bootstrap/variables.less';
@import (reference) '../../node_modules/bootstrap-less/bootstrap/mixins.less';

// Colors
@border-color: #999999;
@ev-yellow: #f9d700;
@link-color: #0074bd;
@label-color: #606060;
@alt-gray: #f3f4ee;
@form-color: #555555;
@button-green:#44ab00;
@button-border-green: #3f9d00;

// Images
@logo-image: 'images/logo.png';
@loading-image: 'images/loading.gif';
@loader-image: 'images/loader.gif';

// Media breaks
@thumbnail-break: 1400px;
@large-break: 1300px;
@medium: 600px;

.picker-base() {
  position: relative;
  padding: 0;
  a {
    color: @link-color;
    text-decoration: none;
  }
  div.ev-filter-block {
    .filter-form(@large-break);
  }
}

.responsive(@maxWidth; @rules) {
    @media only screen and (max-width: @maxWidth) {
        @rules();
    }
}

.loader() {
  div.loader {
    display: inline-block;
  }
  div.loading {
    background: url(@loading-image) no-repeat scroll center center transparent;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
  }
}

.filter-form(@max-width) {
  label,
  input,
  select {
    display: inline-block;
    margin: 0.2em 0.4em 0.2em 0;
  }
  label {
    color: @label-color;
    .responsive(@max-width, {
      display: none;
    });
  }
}

.ev-video-picker {
  .picker-base();
  div.ev-results {
    td.content-actions {
      min-width: 200px;
      .responsive(@medium, {
        min-width: 100px;
      });
    }
  }
}

.ev-playlist-picker {
  .picker-base();
  div.ev-results {
    td.content-actions {
      min-width: 100px;
    }
    td.content-meta {
      .item-security {
        margin-right: 0.4em;
        color: goldenrod;
      }
    }
  }
}

form {
  color: @form-color;
  .form-select,
  .form-text {
    .input-size(inherit; 0.2em; 0.2em; inherit; inherit; 2px);
    border: 1px solid @border-color;
    padding: 0.3em;
  }
  .form-select {
    background-color: #fff;
  }
  .form-actions {
    .form-submit {
      .button-size(0.3em; 0.3em; inherit; inherit; 2px);
      border: 1px solid transparent;
      span {
        margin-left: 0.4em;
      }
    }
    .action-submit {
      #gradient > .vertical(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15), 1%, 100%);
      .button-variant(#fff; @button-green; @button-border-green);
    }
    .action-cancel {
      #gradient > .vertical(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1), 1%, 100%);
      .button-variant(@form-color; @alt-gray; @border-color);
    }
  }
}

div.ev-hider {
  position: relative;
  border-bottom: 1px solid @border-color;
  text-align: center;
  width: 100%;
  .action-logout {
    position: absolute;
    right: 3em;
    width: 4em;
  }
  a {
    background: #ffffff;
    background-color: #fbfbfb;
    border-left: 1px solid @border-color;
    border-right: 1px solid @border-color;
    border-top: 1px solid @border-color;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    bottom: -2px;
    display: inline-block;
    padding: 0.2em 1em;
    position: relative;
    text-decoration: none;
  }
}

div.ev-field {
  .thumbnail {
    box-shadow: 0 0 10px 1px;
    display: inline-block;
    font-size: 0;
    height: 100%;
    margin-right: 20px;
    vertical-align: middle;
    img {
      height: 100%;
      vertical-align: middle;
    }
  }
  .title {
    color: @label-color;
    display: inline-block;
    font-weight: bold;
    font-size: 100%;
    margin: 0 20px 0 0;
    max-width: 400px;
  }
  div.logo {
    display: inline-block;
    height: 100%;
    margin-right: 20px;
    vertical-align: middle;
    a {
      background-image: url(@logo-image);
      background-repeat: no-repeat;
      background-size: 36px auto;
      display: inline-block;
      height: 36px;
      margin-top: 6px;
      width: 36px;
      span {
        display: none;
      }
    }
  }
}

div.ev-actions {
  display: inline-block;
  padding: 0.3em;
  a {
    display: inline-block;
    margin: 0.3em;
    vertical-align: middle;
    span {
      display: none;
    }
  }
  .action-choose {
    color: orange;
  }
  .action-preview {
    color: black;
  }
  .action-options {
    color: grey;
  }
  .action-remove {
    color: red;
  }
  .action-upload,
  .action-record {
    .button-size(0.3em; 0.3em; inherit; inherit; 2px);
    border: 1px solid transparent;
    #gradient > .vertical(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15), 1%, 100%);
    span {
      margin-left: 0.2em;
    }
    margin-right: 0.4em;
    position: relative;
    top: 1px;
  }
  .action-upload {
    .button-variant(#fff; @button-green; @button-border-green);
  }
  .action-record {
    .button-variant(#fff; #1e1c1f; #000);
    i.record-inactive {
      color: #ff4f3e;
    }
    i.record-active {
      color: #fff;
    }
  }
}

div.ev-filter-block {
  background-color: #fbfbfb;
  position: relative;
  z-index: 10;
  padding: 10px 5px 0 5px;
  .ev-search,
  .ev-type-select,
  .ev-unit-selects {
    display: inline-block;
    input[type="submit"] {
      display: none;
    }
  }
  .loader();
}

div.ev-auth {
  div.logo {
    background-image: url(@logo-image);
    background-repeat: no-repeat;
    background-size: 65px auto;
    display: inline-block;
    height: 65px;
    margin-right: 2em;
    margin-top: 1em;
    vertical-align: top;
    width: 65px;
  }
  form {
    display: inline-block;
    padding-top: 1em;
    width: 80%;
    fieldset {
      border: none;
      padding: 0;
    }
    div.fieldWrap {
      margin-bottom: 0.6em;
    }
    div.form-actions {
      input {
        margin: 0;
      }
    }
    label {
      color: @label-color;
      display: inline-block;
      margin-right: 1em;
      width: 30%;
    }
    .loader();
  }
}

div.ev-settings {
  fieldset {
    border: none;
    padding: 0;
  }
  div.fieldWrap {
    margin-bottom: 0.8em;
    label {
      width: auto;
    }
    .size {
      margin-left: 1em;
    }
    input[type=checkbox][disabled] {
      cursor: not-allowed;
    }
  }
  div.inline-option {
    display: inline-block;
    width: 200px;
  }
  label {
    color: @label-color;
    display: inline-block;
    width: 40%;
  }
  div.form-actions {
    clear: both;
    float: left;
    margin-top: 0.8em;
  }
}

div.ev-results {
  position: relative;
  background-color: #fbfbfb;
  padding: 0 5px;
  .total {
    padding: 0.6em 0;
    .action-refresh {
      color: @form-color;
    }
  }
  .results {
    position: relative
  }
  table thead {
    display: none;
  }
  td.content-actions {
    position: relative;
    margin: 10px;
    padding-right: 2em;
    text-align: right;
    width: 25%;
    .thumbnail-wrap {
      position: relative;
      .thumbnail {
        box-shadow: 0 0 10px 1px;
        display: inline-block;
        margin: 9px 6px 1em 6px;
        max-width: 200px;
        width: 80%;
        min-height: 112px;
      }
      .ccbadge {
        position: absolute;
        bottom: 23px;
        right: 15px;
        background-color: #fff;
      }
    }
    div.action-links {
      clear: right;
      float: right;
      height: 18px;
      margin: 6px;
      max-width: 200px;
      text-align: center;
      width: 80%;
      a {
        background-repeat: no-repeat;
        background-size: 18px auto;
        display: inline-block;
        height: 18px;
        margin: 0 0.3em;
        width: 18px;
        span {
          display: none;
        }
      }
      a.action-add {
        color: green;
      }
      a.action-preview {
        color: black;
      }
    }
    .responsive(@thumbnail-break, {
      .thumbnail-wrap {
        .thumbnail {
          max-width: 150px;
          min-height: 84px;
        }
      }
      div.action-links {
        max-width: 150px;
      }
    });
    .responsive(@medium, {
      .thumbnail-wrap {
        .thumbnail {
          max-width: 100px;
          min-height: 56px;
        }
        .ccbadge {
          bottom: 20px;
          right: 11px;
          font-size: small;
        }
      }
      div.action-links {
        max-width: 100px;
      }
    });
  }
  .content-meta {
    width: 75%;
  }
  table {
    font-size: 1em;
  }
  .content-list {
    border-spacing: 0;
    width: 99%;
    margin: auto;
    .even {
        background-color: @alt-gray;
    }
    tr td {
      border: none;
      padding-bottom: 1em;
      color: #000000;
      padding: 1em 2%;
    }
    .content-item {
      border: none;
      width: 100%;
      td {
        border: none;
        padding: 3px 0;
      }
      tr.title td {
        border-bottom: 1px solid @border-color;
        font-weight: bold;
      }
      .trunc a {
        margin-left: 5px;
      }
      .label {
        color: @label-color;
        font-weight: bold;
        width: 20%;
        min-width: 100px;
        .responsive(@medium, {
          display: none;
        });
      }
    }
  }
}

div.ev-video-picker div.ev-results .content-list tr td {
  vertical-align: top;
}

div.scrollWrap {
  border: 1px solid #bebfb9;
  .loader {
    background: url(@loader-image) no-repeat scroll center center transparent;
    height: 60px;
    width: 100%;
  }
}

div.ev-dialog {
  border-radius: 4px;
  font-size: 1em;
  div.ui-dialog-titlebar {
    // TODO - this is compass
    //@include background(linear-gradient(@ev-yellow, #ffffff));
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9d700), color-stop(100%, #ffffff));
    background: -moz-linear-gradient(#f9d700, #ffffff);
    background: -webkit-linear-gradient(#f9d700, #ffffff);
    background: linear-gradient(#f9d700, #ffffff);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-width: 0;
  }
  form.upload-form {
    fieldset {
      border: none;
      padding: 0;
    }
    .form-text,
    .form-select,
    .form-submit {
      padding: 0.2em;
    }
    .form-select {
      width: 100%;
      margin-bottom: 1em;
    }
    .form-text {
      width: 72%;
    }
    div.fieldWrap {
      margin-bottom: 1em;
    }
    label {
      color: @label-color;
      display: inline-block;
      width: 25%;
    }
    .plupload_header {
      display: none;
    }
    .plupload_cancel {
      margin-right: 3em;
      display: block;
      float: right;
    }
    div.plupload_container {
      padding: 0;
    }
    ul.plupload_filelist {
      overflow-y: auto;
      height: auto;
    }
    li.plupload_droptext {
      line-height: normal;
    }
    div.info {
      margin-top: 1em;
      color: @label-color;
      font-size: 0.9em;
    }
  }
  .ev-preview {
    text-align: center;
  }
}
