// Bootstrap less mixins
@import (reference) '../../node_modules/bootstrap-less/bootstrap/variables.less';
@import (reference) '../../node_modules/bootstrap-less/bootstrap/mixins.less';
@import (reference) '../../node_modules/flex.less/flex.less';

// Colors
@border-color: #999999;
@ev-yellow: #f9d700;
@link-color: #0074bd;
@label-color: #606060;
@alt-gray: #f3f4ee;
@form-color: #555555;
@button-green:#44ab00;
@button-border-green: #3f9d00;
@text-orange: #e55e20;

// Images
@logo-image: 'images/logo.png';
@loading-image: 'images/loading.gif';
@loader-image: 'images/loader.gif';

// Media breaks
@thumbnail-break-lg: 1000px;
@label-break: 700px;

.picker-base() {
  position: relative;
  padding: 0;
  .flex(5, 1, auto);
  .display(flex);
  .flex-flow(column, nowrap);
  a {
    color: @link-color;
    text-decoration: none;
  }
  .ev-filter-block {
    .filter-form(@label-break);
  }
  .ev-results .results {
    border: 1px solid #bebfb9;
  }
}

.responsive(@maxWidth; @rules) {
    @media only screen and (max-width: @maxWidth) {
        @rules();
    }
}

.filter-form(@max-width) {
  label,
  input,
  select {
    display: inline-block;
    margin: 0.2em 0.4em 0.2em 0;
  }
  label {
    color: @label-color;
    .responsive(@max-width, {
      display: none;
    });
  }
}

.common() {
  .form-select,
  .form-text {
    .input-size(inherit; 0.2em; 0.2em; inherit; inherit; 2px);
    border: 1px solid @border-color;
    padding: 0.3em;
    line-height: 17px;
  }
  .form-select {
    background-color: #fff;
  }
  .form-actions {
    .form-submit,
    .form-cancel {
      .button-size(0.3em; 0.3em; inherit; inherit; 2px);
      border: 1px solid transparent;
      span {
        margin-left: 0.4em;
      }
    }
    .action-submit {
      #gradient > .vertical(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15), 1%, 100%);
      .button-variant(#fff; @button-green; @button-border-green);
    }
    .action-cancel {
      #gradient > .vertical(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1), 1%, 100%);
      .button-variant(@form-color; @alt-gray; @border-color);
    }
  }

  form {
    color: @form-color;
  }
}

.ev-field-wrap {
  .display(flex);
  .flex-flow(column, nowrap);
  height: 100%;

  .common();

  .ev-video-picker {
    .picker-base();
  }

  .ev-playlist-picker {
    .picker-base();
  }

  .ev-dropbox-picker {
    .picker-base();
  }

  .ev-quiz-picker {
    .picker-base();
  }

  .ev-hider {
    position: relative;
    border-bottom: 1px solid @border-color;
    text-align: center;
    .flex(0, 1, auto);
    .action-hide {
      color: orange;
      margin-right: 0.6em;
    }
    .action-logout {
      color: red;
    }
    .action-wrap {
      background: #ffffff;
      background-color: #fbfbfb;
      border-left: 1px solid @border-color;
      border-right: 1px solid @border-color;
      border-top: 1px solid @border-color;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      bottom: -2px;
      display: inline-block;
      padding: 0.4em 0.8em 0.4em;
      position: relative;
      text-decoration: none;
      float: right;
      margin-right: 1em;
      vertical-align: middle;
      span {
        color: black;
        padding: 0.4em;
      }
    }
    .responsive(@label-break, {
      .action-wrap {
        span {
          display: none;
        }
      }
    });
  }

  .ev-field {
    .display(flex);
    .flex-flow(row, wrap);
    .align-items(center);
    .flex(0, 1, auto);
    h2,
    h3 {
      margin: 0;
    }
    .ev-field-item {
      padding: 0.6em;
    }
    .thumbnail {
      img {
        box-shadow: 0 0 10px 1px;
        max-width: 200px;
        max-height: 112px;
        object-fit: scale-down;
        background-color: #000;
      }
    }
    .title {
      color: @label-color;
      font-weight: bold;
      font-size: 100%;
      max-width: 400px;
    }
    .responsive(@label-break, {
      .thumbnail {
        img {
          max-width: 150px;
          max-height: 84px;
        }
      }
      .title {
        max-width: 300px;
      }
      .ev-actions {
        span {
          display: none;
        }
      }
    });
  }

  .ev-actions {
    display: inline-block;
    a {
      display: inline-block;
      margin: 0.3em;
      vertical-align: middle;
      text-decoration: none;
      span {
        color: black;
        padding: 0.4em;
      }
    }
    .action-choose {
      color: orange;
    }
    .action-preview {
      color: black;
    }
    .action-options {
      color: grey;
    }
    .action-remove {
      color: red;
    }
    .action-upload,
    .action-record {
      .button-size(0.3em; 0.3em; inherit; inherit; 2px);
      border: 1px solid transparent;
      #gradient > .vertical(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15), 1%, 100%);
      span {
        margin-left: 0.2em;
      }
      margin-right: 0.4em;
      position: relative;
    }
    .action-upload {
      .button-variant(#fff; @button-green; @button-border-green);
    }
    .action-record {
      .button-variant(#fff; #1e1c1f; #000);
      .record-inactive {
        color: #ff4f3e;
      }
      .record-active {
        color: #fff;
      }
    }
  }

  .ev-filter-block {
    background-color: #fbfbfb;
    position: relative;
    padding: 10px 5px 0 5px;
    .flex(1, 0, auto);
    .display(flex);
    .flex-flow(row, wrap);
    .align-items(center);
    .ev-filter-item {
      .flex(0, 1, auto);
    }
    .loader {
      height: 16px;
      width: 16px;
    }
    .loading {
      background: url(@loading-image) no-repeat scroll center center transparent;
    }
  }

  .ev-results {
    position: relative;
    background-color: #fbfbfb;
    padding: 0 5px;
    .flex(20, 0, auto);
    .display(flex);
    .flex-flow(column, nowrap);
    .total {
      .flex(0, 1, auto);
      padding: 0.6em 0;
      .action-refresh {
        color: @form-color;
        span {
          padding: 0.4em;
        }
      }
      .responsive(@label-break, {
        .action-refresh {
          span {
            display: none;
          }
        }
      });
    }
    .results {
      .flex(1, 0, auto);
      .display(flex);
      .flex-flow(column, nowrap);
      position: relative
    }
    .content-list {
      display: table;
      width: 99%;
      word-break: break-word;
      margin: auto;
      .result-item {
        display: table-row;
        .no-results {
          display: table-cell;
          span {
            padding: 2em 0;
            text-align: center;
            width: 100%;
            display: inline-block;
          }
        }
        .content-actions {
          display: table-cell;
          position: relative;
          padding: 1em;
          width: 33%;
          .thumbnail-wrap {
            position: relative;
            text-align: center;
            max-width: 200px;
            margin: 0 auto 1.2em;
            top: 6px;
            .thumbnail {
              box-shadow: 0 0 10px 1px;
              max-width: 200px;
              background-color: #000;
            }
            .badge {
              position: absolute;
              display: block;
              left: ~"calc(100% - 30px)";
              bottom: 10px;
            }
          }
          .action-links {
            text-align: center;
            a {
              display: inline-block;
              margin: 0 0.3em;
              span {
                color: black;
                margin-left: 0.4em;
              }
            }
            .action-add {
              color: green;
            }
            .action-preview {
              color: black;
            }
          }
          .responsive(@thumbnail-break-lg, {
            .thumbnail-wrap {
              max-width: 150px;
              .thumbnail {
                max-width: 150px;
                min-height: 84px;
              }
            }
          });
          .responsive(@label-break, {
            .action-links {
              a {
                span {
                  display: none;
                }
              }
            }
            .thumbnail-wrap {
              max-width: 100px;
              .thumbnail {
                max-width: 100px;
                min-height: 56px;
              }
              .ccbadge {
                left: ~"calc(100% - 20px)";
                bottom: 10px;
                width: 15px;
                font-size: small;
              }
            }
          });
        }
        .content-meta {
          display: table-cell;
          padding: 1em;
          vertical-align: top;
          .item-security {
            margin-right: 0.4em;
            color: goldenrod;
          }
        }
      }
      .even {
          background-color: @alt-gray;
      }
      .title a {
        display: block;
        padding-bottom: 0.6em;
        font-weight: bold;
      }
      .content-info {
        display: table;
        width: 100%;
        .info-row {
          display: table-row;
          .label,
          .value {
            display: table-cell;
            padding-bottom: 0.6em;
          }
          .label {
            padding-right: 0.6em;
            color: @label-color;
            font-weight: bold;
            width: 20%;
            min-width: 100px;
          }
          .trunc a {
            margin-left: 5px;
          }
          .responsive(@label-break, {
            .label {
              display: none;
            }
            .value:empty {
              display: none;
            }
          });
        }
      }
    }
  }

  .scrollWrap {
    .flex(1, 0, auto);
    .loader {
      .flex(1, 0, auto);
      background: url(@loader-image) no-repeat scroll center center transparent;
      height: 60px;
      width: 100%;
    }
  }
}

.ev-dialog {
  border-radius: 4px;
  font-size: 1em;

  .common();

  .ev-auth {
    .logo {
      background-image: url(@logo-image);
      background-repeat: no-repeat;
      background-size: 65px auto;
      display: inline-block;
      height: 65px;
      margin-right: 2em;
      margin-top: 1em;
      vertical-align: top;
      width: 65px;
    }
    form {
      display: inline-block;
      padding-top: 1em;
      width: 80%;
      fieldset {
        border: none;
        padding: 0;
      }
      .fieldWrap {
        margin-bottom: 0.6em;
      }
      .form-actions {
        input {
          margin: 0;
        }
      }
      label {
        color: @label-color;
        display: inline-block;
        margin-right: 1em;
        width: 30%;
      }
      .loader {
        display: inline-block;
      }
      .loading {
        background: url(@loading-image) no-repeat scroll center center transparent;
        display: inline-block;
        height: 16px;
        vertical-align: middle;
        width: 16px;
      }
    }
  }

  .ev-settings {
    fieldset {
      border: none;
      padding: 0;
    }
    .fieldWrap {
      margin-bottom: 0.8em;
      label {
        width: auto;
      }
      .size,
      .embedtype {
        margin-left: 1em;
      }
      input[type=checkbox][disabled] {
        cursor: not-allowed;
      }
    }
    .inline-option {
      display: inline-block;
      width: 200px;
    }
    label {
      color: @label-color;
      display: inline-block;
      width: 40%;
    }
    .form-actions {
      clear: both;
      float: left;
      margin-top: 0.8em;
    }
    .dropbox-settings {
      .form-text,
      .form-submit {
        padding: 0.2em;
      }
      .form-text {
        width: 72%;
      }
      label {
        width: 25%;
      }
    }
  }


  .ui-dialog-titlebar {
    // TODO - this is compass
    //@include background(linear-gradient(@ev-yellow, #ffffff));
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9d700), color-stop(100%, #ffffff));
    background: -moz-linear-gradient(#f9d700, #ffffff);
    background: -webkit-linear-gradient(#f9d700, #ffffff);
    background: linear-gradient(#f9d700, #ffffff);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-width: 0;
  }

  .upload-form {
    fieldset {
      border: none;
      padding: 0;
    }
    .form-text,
    .form-select,
    .form-submit {
      padding: 0.2em;
    }
    .form-select {
      width: 100%;
      margin-bottom: 1em;
    }
    .form-text {
      width: 72%;
    }
    .fieldWrap {
      margin-bottom: 1em;
    }
    label {
      color: @label-color;
      display: inline-block;
      width: 25%;
    }
    .plupload_header {
      display: none;
    }
    .plupload_cancel {
      margin-right: 3em;
      display: block;
      float: right;
    }
    .plupload_container {
      padding: 0;
    }
    .plupload_filelist {
      overflow-y: auto;
      height: auto;
    }
    .plupload_droptext {
      line-height: normal;
    }
    .info {
      margin-top: 1em;
      color: @label-color;
      font-size: 0.9em;
    }
    .policy-message {
      color: @text-orange;
    }
  }

  .ev-preview {
    text-align: center;
  }
}
