body {
    font-size: 10pt;
    padding: 1em;
}

a,
a:visited {
    color: #3399ff;
}

.chooserPanel.ui-tabs-panel {
    padding: 0.4em;
}

.chooserPanel form {
    position: relative;
    height: 100%;
}

.ev-field-wrap {
    border: none;
    padding: 0;
    position: relative;
    height: 100%;
}

div.ev-results {
    border: none;
}

.embed {
    margin: 1em 0;
}

