<div>
  <label for="<%= id %>"><%= messages['Type:'] %></label>
  <select id="<%= id %>" class="form-select source" title="<%= messages['Select Library Type'] %>">
    <option value="content" <% if (sourceId === 'content') { print('selected="selected"'); } %>><%= messages['Media Library'] %></option>
    <option value="shared" <% if (sourceId === 'shared') { print('selected="selected"'); } %>><%= messages['Shared Library'] %></option>
  </select>
  <input type="submit" value="<%= messages['Go'] %>" class="form-submit" />
</div>
