<iframe src="<%= ensembleUrl %>/app/plugin/embed.aspx?DestinationID=<%= modelId %>&playlistEmbed=true&isNewPluginEmbed=true&hideControls=true&displayTitle=true&displayEmbedCode=<%= displayEmbedCode %>&displayStatistics=<%= displayStatistics %>&displayVideoDuration=<%= displayDuration %>&displayAttachments=<%= displayAttachments %>&displayAnnotations=<%= displayAnnotations %>&displayLinks=<%= displayLinks %>&displayCredits=<%= displayCredits %>&displaySharing=<%= displaySharing %>&autoPlay=<%= autoPlay %>&showCaptions=<%= showCaptions %>&displayDateProduced=<%= displayDateProduced %>&audioPreviewImage=<%= audioPreviewImage %>&displayCaptionSearch=<%= displayCaptionSearch %>"
        frameborder="0"
        style="width:800px;height:1000px;"
        width="800"
        height="1000"
        allowfullscreen>
</iframe>
