<form>
    <input type="hidden" name="wrapstyle" id="wrapstyle" class="wrapstyle" value="<%- model.get('wrapstyle') %>" />
    <input type="hidden" name="wrapscript" id="wrapscript" class="wrapscript" value="<%- model.get('wrapscript') %>" />
    <div role="group" aria-labelledby="playlistSettingsTitle">
        <div id="playlistSettingsTitle" style="display:none;"><%= i18n.formatMessage('Playlist Embed Options') %></div>
        <% if (!model.get('forceembedtype')) { %>
        <div class="fieldWrap inline mr10">
            <label for="embedtype"><%= i18n.formatMessage('Type') %></label>
            <select class="form-select embedtype" id="embedtype" name="embedtype">
                <option value="responsive" <% if (model.get('embedtype') === 'responsive') { print('selected'); } %>><%= i18n.formatMessage('iFrame Responsive') %></option>
                <option value="fixed" <% if (model.get('embedtype') === 'fixed') { print('selected'); } %>><%= i18n.formatMessage('iFrame') %></option>
            </select>
        </div>
        <% } %>
        <div class="fieldWrap inline fixedOptionsContainer" <% if (model.get('embedtype') !== 'fixed') { print('style="display: none;"'); } %> >
            <label for="width"><%= i18n.formatMessage('Width') %></label>
            <input type="number" id="width" name="width" class="form-text width mr10" min="1" max="9999" required="true" value="<%= model.get('width') %>" />
            <label for="height"><%= i18n.formatMessage('Height') %></label>
            <input type="number" id="height" name="height" class="form-text height" min="1" max="9999" required="true" value="<%= model.get('height') %>" />
        </div>
        <div class="fieldWrap inline responsiveOptionsContainer" <% if (model.get('embedtype') !== 'responsive') { print('style="display: none;"'); } %> >
            <input id="jswrapper" class="form-checkbox" <% if (model.get('jswrapper')) { print('checked="checked"'); } %> name="jswrapper" type="checkbox"/>
            <label for="jswrapper"><%= i18n.formatMessage('Include Javascript Wrapper') %></label>
        </div>
        <div class="tabs">
            <ul>
                <li><a href="#layout"><i class="fa fa-th mr5"></i><span><%= i18n.formatMessage('Layout') %></span></a></li>
                <li><a href="#filter"><i class="fa fa-filter mr5"></i><span><%= i18n.formatMessage('Filter & Sort') %></span></a></li>
                <li><a href="#display"><i class="fa fa-eye mr5"></i><span><%= i18n.formatMessage('Display') %></span></a></li>
            </ul>
            <div id="layout" class="playlist-layout">
                <div class="layout-option-row">
                    <div class="fieldWrap inline-option layout-option">
                        <input id="verticalListWithPlayer" class="form-radio" <% if (model.get('layout') === 'verticalListWithPlayer') { print('checked="checked"'); } %> name="layout" value="verticalListWithPlayer" type="radio"/>
                        <label for="verticalListWithPlayer">
                            <img src="<%= config.imagePath + '/playlist/layouts/player-vertical-scroller.png' %>" alt="<%= i18n.formatMessage('Player with Vertical Playlist') %>">
                            <div><%= i18n.formatMessage('Player with Vertical Playlist') %></div>
                        </label>
                    </div>
                    <div class="fieldWrap inline-option layout-option">
                        <input id="grid" class="form-radio" <% if (model.get('layout') === 'grid') { print('checked="checked"'); } %> name="layout" value="grid" type="radio"/>
                        <label for="grid">
                            <img src="<%= config.imagePath + '/playlist/layouts/grid.png' %>" alt="<%= i18n.formatMessage('Video Grid Playlist') %>">
                            <div><%= i18n.formatMessage('Video Grid Playlist') %></div>
                        </label>
                    </div>
                    <div class="fieldWrap inline-option layout-option">
                        <input id="list" class="form-radio" <% if (model.get('layout') === 'list') { print('checked="checked"'); } %> name="layout" value="list" type="radio"/>
                        <label for="list">
                            <img src="<%= config.imagePath + '/playlist/layouts/playlist.png' %>" alt="<%= i18n.formatMessage('Vertical Playlist') %>">
                            <div><%= i18n.formatMessage('Vertical Playlist') %></div>
                        </label>
                    </div>
                </div>
                <div class="layout-option-row">
                    <div class="fieldWrap inline-option layout-option">
                        <input id="horizontalListWithPlayer" class="form-radio" <% if (model.get('layout') === 'horizontalListWithPlayer') { print('checked="checked"'); } %> name="layout" value="horizontalListWithPlayer" type="radio"/>
                        <label for="horizontalListWithPlayer">
                            <img src="<%= config.imagePath + '/playlist/layouts/player-horiz-scroller.png' %>" alt="<%= i18n.formatMessage('Player above Horizontal Playlist') %>">
                            <div><%= i18n.formatMessage('Player above Horizontal Playlist') %></div>
                        </label>
                    </div>
                    <div class="fieldWrap inline-option layout-option">
                        <input id="showcase" class="form-radio" <% if (model.get('layout') === 'showcase') { print('checked="checked"'); } %> name="layout" value="showcase" type="radio"/>
                        <label for="showcase">
                            <img src="<%= config.imagePath + '/playlist/layouts/showcase.png' %>" alt="<%= i18n.formatMessage('Video Showcase with Categories') %>">
                            <div><%= i18n.formatMessage('Video Showcase with Categories') %></div>
                        </label>
                    </div>
                    <div class="fieldWrap inline-option layout-option">
                        <input id="horizontalList" class="form-radio" <% if (model.get('layout') === 'horizontalList') { print('checked="checked"'); } %> name="layout" value="horizontalList" type="radio"/>
                        <label for="horizontalList">
                            <img src="<%= config.imagePath + '/playlist/layouts/horiz-scroller.png' %>" alt="<%= i18n.formatMessage('Horizontal Playlist') %>">
                            <div><%= i18n.formatMessage('Horizontal Playlist') %></div>
                        </label>
                    </div>
                </div>
                <div class="layout-option-row">
                    <div class="fieldWrap inline-option layout-option">
                        <input id="listWithPlayer" class="form-radio" <% if (model.get('layout') === 'listWithPlayer') { print('checked="checked"'); } %> name="layout" value="listWithPlayer" type="radio"/>
                        <label for="listWithPlayer">
                            <img src="<%= config.imagePath + '/playlist/layouts/player-playlist.png' %>" alt="<%= i18n.formatMessage('Player above Vertical Playlist') %>">
                            <div><%= i18n.formatMessage('Player above Vertical Playlist') %></div>
                        </label>
                    </div>
                    <div class="fieldWrap inline-option layout-option">
                        <input id="gridWithPlayer" class="form-radio" <% if (model.get('layout') === 'gridWithPlayer') { print('checked="checked"'); } %> name="layout" value="gridWithPlayer" type="radio"/>
                        <label for="gridWithPlayer">
                            <img src="<%= config.imagePath + '/playlist/layouts/player-grid.png' %>" alt="<%= i18n.formatMessage('Player above Video Grid Playlist') %>">
                            <div><%= i18n.formatMessage('Player above Video Grid Playlist') %></div>
                        </label>
                    </div>
                    <div class="fieldWrap inline-option layout-option">
                        <input id="loop" class="form-radio" <% if (model.get('layout') === 'loop') { print('checked="checked"'); } %> name="layout" value="loop" type="radio"/>
                        <label for="loop">
                            <img src="<%= config.imagePath + '/playlist/layouts/looping-playlist.png' %>" alt="<%= i18n.formatMessage('Looping Video Playlist') %>">
                            <div><%= i18n.formatMessage('Looping Video Playlist') %></div>
                        </label>
                    </div>
                </div>
            </div>
            <div id="filter" class="playlist-filter">
                <h4><%= i18n.formatMessage('Filter By') %></h4>
                <div>
                    <div class="fieldWrap">
                        <label for="search"><%= i18n.formatMessage('Search String') %></label>
                        <input id="search" class="form-text" name="search" value="<%- model.get('search') %>" type="text"/>
                    </div>
                    <div class="fieldWrap">
                        <label for="categories"><%= i18n.formatMessage('Categories') %></label>
                        <select id="categories" class="form-select" name="categories" multiple>
                            <option value="-1" <% if (!model.get('categories')) { print('selected="selected"'); } %>><%= i18n.formatMessage('All Categories') %></option>
                            <% categories.each(function(category) { %>
                                <option value="<%= category.id %>" <% if (model.get('categories') && _.contains(model.get('categories').split(','), category.id)) { print('selected="selected"'); } %>><%- category.get('name') %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="fieldWrap">
                        <label for="resultscount"><%= i18n.formatMessage('Number of Results') %></label>
                        <input id="resultscount" class="form-text" name="resultscount" value="<%- model.get('resultscount') %>" type="text"/>
                    </div>
                </div>
                <h4><label for="sortby"><%= i18n.formatMessage('Sort By') %></label></h4>
                <div class="fieldWrap sort-group">
                    <select id="sortby" class="form-select">
                        <option value="DateAdded" <% if (model.get('sortby') === 'DateAdded') { print('selected="selected"'); } %>><%= i18n.formatMessage('Date Added') %></option>
                        <option value="DateProduced" <% if (model.get('sortby') === 'DateProduced') { print('selected="selected"'); } %>><%= i18n.formatMessage('Date Produced') %></option>
                        <option value="Description" <% if (model.get('sortby') === 'Description') { print('selected="selected"'); } %>><%= i18n.formatMessage('Description') %></option>
                        <option value="Name" <% if (model.get('sortby') === 'Name') { print('selected="selected"'); } %>><%= i18n.formatMessage('Title') %></option>
                        <option value="Duration" <% if (model.get('sortby') === 'Duration') { print('selected="selected"'); } %>><%= i18n.formatMessage('Duration') %></option>
                        <option value="Keywords" <% if (model.get('sortby') === 'Keywords') { print('selected="selected"'); } %>><%= i18n.formatMessage('Keywords') %></option>
                        <!-- <option value="videoCustomPosition">Custom Order</option> -->
                    </select>
                    <input id="sortAsc" class="form-radio" <% if (!model.get('desc')) { print('checked="checked"'); } %> name="sortDirection" value="asc" type="radio"/>
                    <label for="sortAsc"><%= i18n.formatMessage('Ascending') %></label>
                    <input id="sortDesc" class="form-radio" <% if (model.get('desc')) { print('checked="checked"'); } %> name="sortDirection" value="desc" type="radio"/>
                    <label for="sortDesc"><%= i18n.formatMessage('Descending') %></label>
                </div>
            </div>
            <div id="display" class="playlist-display">
                <div class="fieldWrap checkbox-option">
                    <input id="annotations" class="form-checkbox" <% if (model.get('annotations')) { print('checked="checked"'); } %> name="annotations" type="checkbox"/>
                    <label for="annotations"><%= i18n.formatMessage('Annotations') %></label>
                </div>
                <div class="fieldWrap checkbox-option">
                    <input id="showcaptions" class="form-checkbox" <% if (model.get('showcaptions')) { print('checked="checked"'); } %>  name="showcaptions" type="checkbox"/>
                    <label for="showcaptions"><%= i18n.formatMessage('Captions "On" By Default') %></label>
                </div>
                <div class="fieldWrap checkbox-option">
                    <input id="captionsearch" class="form-checkbox" <% if (model.get('captionsearch')) { print('checked="checked"'); } %> name="captionsearch" type="checkbox"/>
                    <label for="captionsearch"><%= i18n.formatMessage('Interactive Transcript') %></label>
                </div>
                <div class="fieldWrap checkbox-option">
                    <input id="socialsharing" class="form-checkbox" <% if (!isSecure && model.get('socialsharing')) { print('checked="checked"'); } %> name="socialsharing" type="checkbox" <% if (isSecure) { print('disabled') } %> />
                    <label for="socialsharing"><%= i18n.formatMessage('Social Sharing & Links') %></label>
                </div>
                <div class="fieldWrap checkbox-option">
                    <input id="showtitle" class="form-checkbox" checked="checked" disabled="disabled" name="showtitle" type="checkbox"/>
                    <label for="showtitle"><%= i18n.formatMessage('Title') %></label>
                </div>
                <div class="fieldWrap checkbox-option">
                    <input id="viewersreport" class="form-checkbox" <% if (model.get('viewersreport')) { print('checked="checked"'); } %>  name="viewersreport" type="checkbox"/>
                    <label for="viewersreport"><%= i18n.formatMessage('Viewers Report') %></label>
                </div>
                <h4><%= i18n.formatMessage('Additional Settings') %></h4>
                <div class="fieldWrap checkbox-option">
                    <input id="axdxs" class="form-checkbox" <% if (model.get('axdxs')) { print('checked="checked"'); } %> name="axdxs" type="checkbox"/>
                    <label for="axdxs"><%= i18n.formatMessage('Ads') %></label>
                </div>
                <div class="fieldWrap checkbox-option">
                    <input id="attachments" class="form-checkbox" <% if (model.get('attachments')) { print('checked="checked"'); } %> name="attachments" type="checkbox"/>
                    <label for="attachments"><%= i18n.formatMessage('Attachments') %></label>
                </div>
                <div class="fieldWrap checkbox-option">
                    <input id="audiopreviewimage" class="form-checkbox" <% if (model.get('audiopreviewimage')) { print('checked="checked"'); } %> name="audiopreviewimage" type="checkbox"/>
                    <label for="audiopreviewimage"><%= i18n.formatMessage('Audio Preview Image') %></label>
                </div>
                <div class="fieldWrap checkbox-option">
                    <input id="autoplay" class="form-checkbox" <% if (model.get('autoplay')) { print('checked="checked"'); } %>  name="autoplay" type="checkbox"/>
                    <label for="autoplay"><%= i18n.formatMessage('Auto Play (PC Only)') %></label>
                </div>
                <div class="fieldWrap checkbox-option">
                    <input id="embedcode" class="form-checkbox" <% if (!isSecure && model.get('embedcode')) { print('checked="checked"'); } %> name="embedcode" type="checkbox" <% if (isSecure) { print('disabled') } %> />
                    <label for="embedcode"><%= i18n.formatMessage('Embed Code') %></label>
                </div>
                <div class="fieldWrap checkbox-option">
                    <input id="links" class="form-checkbox" <% if (model.get('links')) { print('checked="checked"'); } %> name="links" type="checkbox"/>
                    <label for="links"><%= i18n.formatMessage('Links') %></label>
                </div>
                <div class="fieldWrap checkbox-option">
                    <input id="logo" class="form-checkbox" <% if (model.get('logo')) { print('checked="checked"'); } %> name="logo" type="checkbox"/>
                    <label for="logo"><%= i18n.formatMessage('Logo') %></label>
                </div>
                <div class="fieldWrap checkbox-option">
                    <input id="metadata" class="form-checkbox" <% if (model.get('metadata')) { print('checked="checked"'); } %> name="metadata" type="checkbox"/>
                    <label for="metadata"><%= i18n.formatMessage('Meta Data') %></label>
                </div>
                <div class="fieldWrap checkbox-option">
                    <input id="nextup" class="form-checkbox" <% if (model.get('nextup')) { print('checked="checked"'); } %> <% if (model.get('layout') !== 'loop') { print('disabled="disabled"'); } %> name="nextup" type="checkbox"/>
                    <label for="nextup"><%= i18n.formatMessage('Display Next Up') %></label>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="form-submit action-submit" value="Submit"><i class="fa fa-save"></i><span><%= i18n.formatMessage('Save') %></span></button>
            <button type="button" class="form-submit action-cancel" value="Cancel"><i class="fa fa-times"></i><span><%= i18n.formatMessage('Cancel') %></span></button>
        </div>
    </div>
</form>
