<div id="<%= formId %>" class="unit-selects">
    <label for="<%= orgSelectId %>"><%= i18n.formatMessage('Organization:') %></label><select id="<%= orgSelectId %>" class="form-select organizations" title="<%= i18n.formatMessage('Select Organization') %>"></select><label for="<%= libSelectId %>"><%= i18n.formatMessage('Library:') %></label><select id="<%= libSelectId %>" class="form-select libraries" title="<%= i18n.formatMessage('Select Library') %>"></select><input type="submit" value="<%= i18n.formatMessage('Go') %>" class="form-submit" />
</div>
