<div id="<%= formId %>" class="unit-selects">
    <label for="<%= orgSelectId %>"><%= Globalize.formatMessage('Organization:') %></label><select id="<%= orgSelectId %>" class="form-select organizations" title="<%= Globalize.formatMessage('Select Organization') %>"></select><label for="<%= libSelectId %>"><%= Globalize.formatMessage('Library:') %></label><select id="<%= libSelectId %>" class="form-select libraries" title="<%= Globalize.formatMessage('Select Library') %>"></select><input type="submit" value="<%= Globalize.formatMessage('Go') %>" class="form-submit" />
</div>
