<div id="<%= formId %>" class="unit-selects">
    <label for="<%= orgSelectId %>"><%= messages['Organization:'] %></label><select id="<%= orgSelectId %>" class="form-select organizations" title="<%= messages['Select Organization'] %>"></select><label for="<%= libSelectId %>"><%= messages['Library:'] %></label><select id="<%= libSelectId %>" class="form-select libraries" title="<%= messages['Select Library'] %>"></select><input type="submit" value="<%= messages['Go'] %>" class="form-submit" />
</div>
