<form class="upload-form" method="POST" action="">
    <div role="group" aria-labelledby="uploadTitle">
        <div id="uploadTitle" style="display: none;"><%= i18n.formatMessage('Upload Media to Ensemble') %></div>
        <select class="form-select" name="MediaWorkflowID" id="MediaWorkflowID"></select>
        <label for="MediaWorkflowID" style="display: none;"><%= i18n.formatMessage('Media Workflow') %></label>
        <div class="policy-message"></div>
        <div class="fieldWrap">
            <label for="Title"><%= i18n.formatMessage('Title') %> *</label>
            <input class="form-text" type="text" name="Title" id="Title" />
        </div>
        <div class="fieldWrap">
            <label for="Description"><%= i18n.formatMessage('Description') %></label>
            <textarea class="form-text" name="Description" id="Description" />
        </div>
        <div class="upload"></div>
    </div>
</form>
