<form>
    <fieldset>
        <div class="fieldWrap">
            <label for="size"><%= messages['Size'] %></label>
            <select class="form-select size" id="size" name="size" <% if (isAudio) { print('disabled'); } %> >
                <option value="original"><%= messages['Original'] %></option>
            </select>
        </div>
        <div class="fieldWrap">
            <label for="showtitle"><%= messages['Show Title'] %></label>
            <input id="showtitle" class="form-checkbox" <% if (model.get('showtitle')) { print('checked="checked"'); } %> name="showtitle" type="checkbox"/>
        </div>
        <div class="fieldWrap">
            <label for="autoplay"><%= messages['Auto Play'] %></label>
            <input id="autoplay" class="form-checkbox" <% if (model.get('autoplay')) { print('checked="checked"'); } %>  name="autoplay" type="checkbox"/>
        </div>
        <div class="fieldWrap">
            <label for="showcaptions"><%= messages['Show Captions'] %></label>
            <input id="showcaptions" class="form-checkbox" <% if (model.get('showcaptions')) { print('checked="checked"'); } %>  name="showcaptions" type="checkbox" <% if (isAudio) { print('disabled'); } %> />
        </div>
        <div class="fieldWrap">
            <label for="hidecontrols"><%= messages['Hide Controls'] %></label>
            <input id="hidecontrols" class="form-checkbox" <% if (model.get('hidecontrols')) { print('checked="checked"'); } %>  name="hidecontrols" type="checkbox" <% if (isAudio) { print('disabled'); } %> />
        </div>
        <div class="form-actions">
            <input type="button" class="form-submit action-cancel" value="<%= messages['Cancel'] %>"/>
            <input type="submit" class="form-submit action-submit" value="<%= messages['Submit'] %>"/>
        </div>
    </fieldset>
</form>
