<form>
    <fieldset>
        <div class="fieldWrap">
            <label for="size"><%= i18n.formatMessage('Size') %></label>
            <select class="form-select size" id="size" name="size" <% if (isAudio) { print('disabled'); } %> >
                <option value="original"><%= i18n.formatMessage('Original') %></option>
            </select>
        </div>
        <div class="fieldWrap">
            <label for="showtitle"><%= i18n.formatMessage('Show Title') %></label>
            <input id="showtitle" class="form-checkbox" <% if (model.get('showtitle')) { print('checked="checked"'); } %> name="showtitle" type="checkbox"/>
        </div>
        <div class="fieldWrap">
            <label for="autoplay"><%= i18n.formatMessage('Auto Play') %></label>
            <input id="autoplay" class="form-checkbox" <% if (model.get('autoplay')) { print('checked="checked"'); } %>  name="autoplay" type="checkbox"/>
        </div>
        <div class="fieldWrap">
            <label for="showcaptions"><%= i18n.formatMessage('Show Captions') %></label>
            <input id="showcaptions" class="form-checkbox" <% if (model.get('showcaptions')) { print('checked="checked"'); } %>  name="showcaptions" type="checkbox" <% if (isAudio) { print('disabled'); } %> />
        </div>
        <div class="fieldWrap">
            <label for="hidecontrols"><%= i18n.formatMessage('Hide Controls') %></label>
            <input id="hidecontrols" class="form-checkbox" <% if (model.get('hidecontrols')) { print('checked="checked"'); } %>  name="hidecontrols" type="checkbox" <% if (isAudio) { print('disabled'); } %> />
        </div>
        <div class="form-actions">
            <input type="button" class="form-submit action-cancel" value="<%= i18n.formatMessage('Cancel') %>"/>
            <input type="submit" class="form-submit action-submit" value="<%= i18n.formatMessage('Submit') %>"/>
        </div>
    </fieldset>
</form>
