<form>
    <div role="group" aria-labelledby="videoSettingsTitle">
        <div id="videoSettingsTitle" style="display:none;"><%= i18n.formatMessage('Media Embed Options') %></div>
        <% if (!model.get('forceembedtype')) { %>
        <div class="fieldWrap inline-option">
            <label for="embedtype"><%= i18n.formatMessage('Type') %></label>
            <select class="form-select embedtype" id="embedtype" name="embedtype">
                <option value="responsive" <% if (model.get('embedtype') === 'responsive') { print('selected'); } %>><%= i18n.formatMessage('iFrame Responsive') %></option>
                <option value="fixed" <% if (model.get('embedtype') === 'fixed') { print('selected'); } %>><%= i18n.formatMessage('iFrame') %></option>
            </select>
        </div>
        <% } %>
        <div class="fieldWrap sizeWrap inline-option" <% if (model.get('embedtype') === 'responsive') { print('style="display:none;"'); } %>>
            <label for="size"><%= i18n.formatMessage('Size') %></label>
            <select class="form-select size" id="size" name="size">
                <option value="original"><%= i18n.formatMessage('Original') %></option>
            </select>
        </div>
        <div>
            <div class="fieldWrap inline-option">
                <input id="showtitle" class="form-checkbox" <% if (model.get('showtitle')) { print('checked="checked"'); } %> name="showtitle" type="checkbox"/>
                <label for="showtitle"><%= i18n.formatMessage('Title') %></label>
            </div>
            <div class="fieldWrap inline-option">
                <input id="socialsharing" class="form-checkbox" <% if (model.get('socialsharing')) { print('checked="checked"'); } %> name="socialsharing" type="checkbox"/>
                <label for="socialsharing"><%= i18n.formatMessage('Social Tools') %></label>
            </div>
            <% if (!isGallery && !isYouTube) { %>
            <div class="fieldWrap inline-option">
                <input id="annotations" class="form-checkbox" <% if (model.get('annotations')) { print('checked="checked"'); } %> name="annotations" type="checkbox"/>
                <label for="annotations"><%= i18n.formatMessage('Annotations') %></label>
            </div>
            <% } %>
            <% if (!isGallery && !isYouTube) { %>
            <div class="fieldWrap inline-option">
                <input id="captionsearch" class="form-checkbox" <% if (model.get('captionsearch')) { print('checked="checked"'); } %> name="captionsearch" type="checkbox"/>
                <label for="captionsearch"><%= i18n.formatMessage('Interactive Transcript') %></label>
            </div>
            <% } %>
            <% if (!isGallery) { %>
                <div class="fieldWrap inline-option">
                    <input id="embedthumbnail" class="form-checkbox" <% if (model.get('embedthumbnail')) { print('checked="checked"'); } %> name="embedthumbnail" type="checkbox"/>
                    <label for="embedthumbnail"><%= i18n.formatMessage('Embed As Thumbnail') %></label>
                </div>
            <% } %>
            <% if (!isExternal) { %>
            <div class="fieldWrap inline-option">
                <input id="autoplay" class="form-checkbox" <% if (model.get('autoplay')) { print('checked="checked"'); } %>  name="autoplay" type="checkbox"/>
                <label for="autoplay"><%= i18n.formatMessage('Auto Play (PC Only)') %></label>
            </div>
            <% } %>
            <% if (!isYouTube) { %>
            <div class="fieldWrap inline-option">
                <input id="attachments" class="form-checkbox" <% if (model.get('attachments')) { print('checked="checked"'); } %> name="attachments" type="checkbox"/>
                <label for="attachments"><%= i18n.formatMessage('Attachments') %></label>
            </div>
            <% } %>
            <% if (!isYouTube) { %>
            <div class="fieldWrap inline-option">
                <input id="links" class="form-checkbox" <% if (model.get('links')) { print('checked="checked"'); } %> name="links" type="checkbox"/>
                <label for="links"><%= i18n.formatMessage('Links') %></label>
            </div>
            <% } %>
            <div class="fieldWrap inline-option">
                <input id="metadata" class="form-checkbox" <% if (model.get('metadata')) { print('checked="checked"'); } %> name="metadata" type="checkbox"/>
                <label for="metadata"><%= i18n.formatMessage('Meta Data') %></label>
            </div>
            <div class="fieldWrap inline-option">
                <input id="embedcode" class="form-checkbox" <% if (model.get('embedcode')) { print('checked="checked"'); } %> name="embedcode" type="checkbox"/>
                <label for="embedcode"><%= i18n.formatMessage('Embed Code') %></label>
            </div>
            <% if (!isYouTube) { %>
            <div class="fieldWrap inline-option">
                <input id="download" class="form-checkbox" <% if (model.get('download')) { print('checked="checked"'); } %> name="download" type="checkbox"/>
                <label for="download"><%= i18n.formatMessage('Download Link') %></label>
            </div>
            <% } %>
            <% if (!isGallery && !isExternal) { %>
            <div class="fieldWrap inline-option">
                <input id="showcaptions" class="form-checkbox" <% if (model.get('showcaptions')) { print('checked="checked"'); } %>  name="showcaptions" type="checkbox"/>
                <label for="showcaptions"><%= i18n.formatMessage('Captions "On" By Default') %></label>
            </div>
            <% } %>
            <% if (isAudio) { %>
                <div class="fieldWrap inline-option">
                    <input id="audiopreviewimage" class="form-checkbox" <% if (model.get('audiopreviewimage')) { print('checked="checked"'); } %>  name="audiopreviewimage" type="checkbox"/>
                    <label for="audiopreviewimage"><%= i18n.formatMessage('Audio Preview Image') %></label>
                </div>
            <% } %>
            <% if (!isGallery && !isExternal) { %>
                <div class="fieldWrap inline-option">
                    <input id="viewersreport" class="form-checkbox" <% if (model.get('viewersreport')) { print('checked="checked"'); } %>  name="viewersreport" type="checkbox"/>
                    <label for="viewersreport"><%= i18n.formatMessage('Viewers Report') %></label>
                </div>
            <% } %>
         </div>
        <div class="form-actions">
            <button type="submit" class="form-submit action-submit" value="Submit"><i class="fa fa-save"></i><span><%= i18n.formatMessage('Save') %></span></button>
            <button type="button" class="form-submit action-cancel" value="Cancel"><i class="fa fa-times"></i><span><%= i18n.formatMessage('Cancel') %></span></button>
        </div>
    </div>
</form>
