/* line 24, ../sass/ev-script.scss */
.form-text,
.form-select,
.form-submit {
  padding: 0.2em;
}

/* line 36, ../sass/ev-script.scss */
.ev-video-picker {
  padding: 0;
}
/* line 30, ../sass/ev-script.scss */
.ev-video-picker a {
  color: #0074bd;
  text-decoration: none;
}
/* line 39, ../sass/ev-script.scss */
.ev-video-picker div.ev-results td.content-actions {
  min-width: 120px;
}

/* line 45, ../sass/ev-script.scss */
.ev-playlist-picker {
  padding: 0;
}
/* line 30, ../sass/ev-script.scss */
.ev-playlist-picker a {
  color: #0074bd;
  text-decoration: none;
}

/* line 49, ../sass/ev-script.scss */
div.ev-hider {
  border-bottom: 1px solid #999999;
  text-align: center;
  width: 100%;
}
/* line 53, ../sass/ev-script.scss */
div.ev-hider .action-logout {
  float: right;
  margin-left: -9.2em;
  margin-right: 3em;
  width: 4em;
}
/* line 59, ../sass/ev-script.scss */
div.ev-hider a {
  background: #ffffff;
  background-color: #fbfbfb;
  border-left: 1px solid #999999;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  border-right: 1px solid #999999;
  border-top: 1px solid #999999;
  bottom: -1px;
  display: inline-block;
  padding: 0 1em;
  position: relative;
  text-decoration: none;
}

/* line 74, ../sass/ev-script.scss */
div.ev-field {
  height: 60px;
}
/* line 76, ../sass/ev-script.scss */
div.ev-field .thumbnail {
  -webkit-box-shadow: 0 0 10px 1px;
  -moz-box-shadow: 0 0 10px 1px;
  box-shadow: 0 0 10px 1px;
  display: inline-block;
  font-size: 0;
  height: 100%;
  margin-right: 20px;
  vertical-align: middle;
}
/* line 83, ../sass/ev-script.scss */
div.ev-field .thumbnail img {
  height: 100%;
  vertical-align: middle;
}
/* line 88, ../sass/ev-script.scss */
div.ev-field div.title {
  color: #606060;
  display: inline-block;
  font-weight: bold;
  margin-right: 20px;
  max-width: 400px;
}
/* line 95, ../sass/ev-script.scss */
div.ev-field div.logo {
  display: inline-block;
  height: 100%;
  margin-right: 20px;
  vertical-align: middle;
}
/* line 100, ../sass/ev-script.scss */
div.ev-field div.logo a {
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  background-size: 48px auto;
  display: inline-block;
  height: 48px;
  margin-top: 6px;
  width: 48px;
}
/* line 108, ../sass/ev-script.scss */
div.ev-field div.logo a span {
  display: none;
}
/* line 113, ../sass/ev-script.scss */
div.ev-field div.ev-field-actions {
  display: inline-block;
  padding: 0.4em 0.6em;
}
/* line 116, ../sass/ev-script.scss */
div.ev-field div.ev-field-actions a {
  background-repeat: no-repeat;
  background-size: 18px auto;
  display: inline-block;
  height: 18px;
  margin: 0.3em;
  vertical-align: middle;
  width: 18px;
}
/* line 124, ../sass/ev-script.scss */
div.ev-field div.ev-field-actions a span {
  display: none;
}
/* line 128, ../sass/ev-script.scss */
div.ev-field div.ev-field-actions .action-choose {
  background-image: url("images/add.png");
}
/* line 131, ../sass/ev-script.scss */
div.ev-field div.ev-field-actions .action-preview {
  background-image: url("images/preview.png");
}
/* line 134, ../sass/ev-script.scss */
div.ev-field div.ev-field-actions .action-options {
  background-image: url("images/settings.png");
}
/* line 137, ../sass/ev-script.scss */
div.ev-field div.ev-field-actions .action-remove {
  background-image: url("images/remove.png");
}

/* line 144, ../sass/ev-script.scss */
div.ev-search,
div.ev-playlist-select {
  background-color: #fbfbfb;
  padding: 10px 5px 0 5px;
  position: relative;
  z-index: 10;
}

/* line 151, ../sass/ev-script.scss */
div.ev-poweredby {
  float: right;
}
/* line 153, ../sass/ev-script.scss */
div.ev-poweredby a {
  background: url("images/poweredby.png") no-repeat scroll center center transparent;
  float: right;
  height: 38px;
  width: 120px;
}
/* line 158, ../sass/ev-script.scss */
div.ev-poweredby a span {
  display: none;
}
@media screen and (max-width: 620px) {
  /* line 151, ../sass/ev-script.scss */
  div.ev-poweredby {
    display: none;
  }
}

/* line 170, ../sass/ev-script.scss */
div.ev-search label,
div.ev-search input,
div.ev-search select {
  display: inline;
  margin-right: 1em;
}
/* line 174, ../sass/ev-script.scss */
div.ev-search label {
  color: #606060;
}
@media screen and (max-width: 750px) {
  /* line 174, ../sass/ev-script.scss */
  div.ev-search label {
    display: block;
    margin: 0.4em 0;
  }
}
/* line 181, ../sass/ev-script.scss */
div.ev-search div.loader {
  display: inline-block;
}
/* line 184, ../sass/ev-script.scss */
div.ev-search div.loading {
  background: url("images/loading.gif") no-repeat scroll center center transparent;
  display: inline-block;
  height: 16px;
  margin-left: 1em;
  vertical-align: middle;
  width: 16px;
}

/* line 170, ../sass/ev-script.scss */
div.ev-playlist-select label,
div.ev-playlist-select input,
div.ev-playlist-select select {
  display: inline;
  margin-right: 1em;
}
/* line 174, ../sass/ev-script.scss */
div.ev-playlist-select label {
  color: #606060;
}
@media screen and (max-width: 850px) {
  /* line 174, ../sass/ev-script.scss */
  div.ev-playlist-select label {
    display: block;
    margin: 0.4em 0;
  }
}
/* line 181, ../sass/ev-script.scss */
div.ev-playlist-select div.loader {
  display: inline-block;
}
/* line 184, ../sass/ev-script.scss */
div.ev-playlist-select div.loading {
  background: url("images/loading.gif") no-repeat scroll center center transparent;
  display: inline-block;
  height: 16px;
  margin-left: 1em;
  vertical-align: middle;
  width: 16px;
}

/* line 203, ../sass/ev-script.scss */
div.ev-auth div.logo {
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  background-size: 65px auto;
  display: inline-block;
  height: 65px;
  margin-right: 2em;
  margin-top: 1em;
  vertical-align: top;
  width: 65px;
}
/* line 214, ../sass/ev-script.scss */
div.ev-auth form {
  display: inline-block;
  padding-right: 2em;
  padding-top: 1em;
}
/* line 219, ../sass/ev-script.scss */
div.ev-auth fieldset {
  border: none;
  padding: 0;
  text-align: right;
}
/* line 224, ../sass/ev-script.scss */
div.ev-auth div.fieldWrap {
  margin-bottom: 1em;
}
/* line 228, ../sass/ev-script.scss */
div.ev-auth div.form-actions input {
  margin: 0;
}
/* line 232, ../sass/ev-script.scss */
div.ev-auth label {
  color: #606060;
  display: inline-block;
  margin-right: 2em;
}

/* line 240, ../sass/ev-script.scss */
div.ev-settings fieldset {
  border: none;
  padding: 0;
}
/* line 244, ../sass/ev-script.scss */
div.ev-settings div.fieldWrap {
  margin-bottom: 1em;
}
/* line 247, ../sass/ev-script.scss */
div.ev-settings label {
  color: #606060;
  display: inline-block;
  width: 40%;
}
/* line 252, ../sass/ev-script.scss */
div.ev-settings div.form-actions {
  clear: both;
  float: left;
}

/* line 258, ../sass/ev-script.scss */
div.ev-results {
  background-color: #fbfbfb;
  border-bottom: 1px solid #cccccc;
  padding: 10px 5px;
}
/* line 262, ../sass/ev-script.scss */
div.ev-results .total {
  margin: 1em 0;
}
/* line 265, ../sass/ev-script.scss */
div.ev-results table thead {
  display: none;
}
/* line 268, ../sass/ev-script.scss */
div.ev-results td.content-actions {
  margin: 10px;
  padding-right: 2em;
  text-align: right;
  width: 25%;
}
/* line 273, ../sass/ev-script.scss */
div.ev-results td.content-actions img {
  -webkit-box-shadow: 0 0 10px 1px;
  -moz-box-shadow: 0 0 10px 1px;
  box-shadow: 0 0 10px 1px;
  display: block;
  float: right;
  margin: 9px 6px 1em 6px;
  max-width: 150px;
  width: 80%;
}
/* line 281, ../sass/ev-script.scss */
div.ev-results td.content-actions div.action-links {
  clear: right;
  float: right;
  height: 18px;
  margin: 6px;
  max-width: 150px;
  text-align: center;
  width: 80%;
}
/* line 289, ../sass/ev-script.scss */
div.ev-results td.content-actions div.action-links a {
  background-repeat: no-repeat;
  background-size: 18px auto;
  display: inline-block;
  height: 18px;
  margin: 0 0.3em;
  width: 18px;
}
/* line 296, ../sass/ev-script.scss */
div.ev-results td.content-actions div.action-links a span {
  display: none;
}
/* line 300, ../sass/ev-script.scss */
div.ev-results td.content-actions div.action-links a.action-add {
  background-image: url("images/add.png");
}
/* line 303, ../sass/ev-script.scss */
div.ev-results td.content-actions div.action-links a.action-preview {
  background-image: url("images/preview.png");
}
/* line 308, ../sass/ev-script.scss */
div.ev-results .content-meta {
  width: 75%;
}
/* line 311, ../sass/ev-script.scss */
div.ev-results table {
  font-size: 1em;
}
/* line 314, ../sass/ev-script.scss */
div.ev-results .content-list {
  border: 1px solid #bebfb9;
  margin: 0 0 10px;
  width: 100%;
}
/* line 318, ../sass/ev-script.scss */
div.ev-results .content-list .even {
  background-color: #f3f4ee;
}
/* line 321, ../sass/ev-script.scss */
div.ev-results .content-list tr td {
  border: none;
  padding-bottom: 1em;
  color: #000000;
  padding: 1em 2%;
}
/* line 327, ../sass/ev-script.scss */
div.ev-results .content-list .content-item {
  border: none;
  width: 100%;
}
/* line 330, ../sass/ev-script.scss */
div.ev-results .content-list .content-item td {
  border: none;
  padding: 3px 0;
}
/* line 334, ../sass/ev-script.scss */
div.ev-results .content-list .content-item tr.title td {
  border-bottom: 1px solid #999999;
  font-weight: bold;
}
/* line 338, ../sass/ev-script.scss */
div.ev-results .content-list .content-item .desc a {
  margin-left: 5px;
}
/* line 341, ../sass/ev-script.scss */
div.ev-results .content-list .content-item .label {
  color: #606060;
  font-weight: bold;
  width: 20%;
  min-width: 100px;
}
@media screen and (max-width: 600px) {
  /* line 341, ../sass/ev-script.scss */
  div.ev-results .content-list .content-item .label {
    display: none;
  }
}

/* line 354, ../sass/ev-script.scss */
div.ev-video-picker div.ev-results .content-list tr td {
  vertical-align: top;
}

/* line 358, ../sass/ev-script.scss */
div.scrollWrap .loader {
  background: url("images/loader.gif") no-repeat scroll center center transparent;
  height: 60px;
  width: 100%;
}

/* line 364, ../sass/ev-script.scss */
div.ev-dialog {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  font-size: 1em;
}
/* line 367, ../sass/ev-script.scss */
div.ev-dialog div.ui-dialog-titlebar {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9d700), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(#f9d700, #ffffff);
  background: -moz-linear-gradient(#f9d700, #ffffff);
  background: -o-linear-gradient(#f9d700, #ffffff);
  background: linear-gradient(#f9d700, #ffffff);
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  border-width: 0;
}

/* line 374, ../sass/ev-script.scss */
.sticky-header {
  z-index: 100;
}
