<div class="logo"></div>
<form>
    <fieldset>
        <div class="fieldWrap">
            <label for="username"><%= messages['Username'] %></label>
            <input id="username" name="username" class="form-text" type="text"/>
        </div>
        <div class="fieldWrap">
            <label for="password"><%= messages['Password'] %></label>
            <input id="password" name="password" class="form-text" type="password"/>
        </div>
        <div class="form-actions">
            <label></label>
            <input type="submit" class="form-submit action-submit" value="<%= messages['Submit'] %>"/>
        </div>
    </fieldset>
</form>
