<div class="logo"></div>
<form>
    <fieldset>
        <div class="fieldWrap">
            <label for="username"><%= messages['Username'] %></label>
            <input id="username" name="username" class="form-text" type="text"/>
        </div>
        <div class="fieldWrap">
            <label for="password"><%= messages['Password'] %></label>
            <input id="password" name="password" class="form-text" type="password"/>
        </div>
        <div class="fieldWrap">
            <label for="provider"><%= messages['Identity Provider'] %></label>
            <select id="provider" name="provider" class="form-select"></select>
        </div>
        <div class="fieldWrap">
            <label for="remember"><%= messages['Remember Me'] %></label>
            <input id="remember" name="remember" type="checkbox"></input>
        </div>
        <div class="form-actions">
            <label></label>
            <input type="submit" class="form-submit action-submit" value="<%= messages['Submit'] %>"/>
            <div class="loader"></div>
        </div>
    </fieldset>
</form>
